.container {
  width: 100%;
  height: calc(100vh - 64px);

  .sidenav {
    width: 256px;
  }

  .content {
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
  }
}
